@mixin box-shadow($shadow1, $shadow2){
	-webkit-box-shadow: $shadow1 $shadow1 $shadow2 0px rgba(0,0,0,03);
	-moz-box-shadow: $shadow1 $shadow1 $shadow2 0px rgba(0,0,0,0.3);
	box-shadow: $shadow1 $shadow1 $shadow2 0px rgba(0,0,0,0.3);
}

@mixin box-shadow-inner($size){
	-moz-box-shadow:    inset 0 0 $size $black;
	-webkit-box-shadow: inset 0 0 $size $black;
	box-shadow:         inset 0 0 $size $black;
}
