/*
        Software Name: Plataforma Online de Ensino Presencial
        Description: Plataforma Online de Ensino Presencial
        Version: 1.0.0
        Author: Matteus Barbosa
        License: Copyright
        License URI: Copyright
*/

$purple: #67809F;
$wine: #C0392B;
$red : #e74c3c;
$blood : #BF492C;
$green : #28b62c;
$green-sea : #128C7E;
$yellow: #F4D03F;
$gray : #A0A0A0;
$black : #404040;
$silver : #e9ebee;
$white : #FFF;
$blue : #3498DB;
$full : 100%;
$half : 50%;
$xsmall : 6px;
$xs : 6px;
$sm : 12px;
$md : 24px;
$lg : 36px;
$transparent: rgba(255, 255, 255, 0.75);

$txt-1 : url('/assets/img/textures/bright-squares.png');

$cursor-1: url('../mouse-pointers/pencil.png'), auto;
$cursor-2: url('../mouse-pointers/mocu.png'), auto;

$txt-shadow : '1px 1px 1px '+$black;

$color-primary : $wine;
$color-secondary : $white;
$color-link : $blue;
$bgd-table: url('../img/metro/table.jpg');



@media all {

    



    html > body{
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
    }

    fieldset > legend{
        font-size: 16px;
        margin-bottom: 18px;
        font-weight:bold;
    }

    .form-group label{
        margin: 12px 0 6px;
        font-weight: 300;

        &.label-left{
            margin: 0;
        }
    }

    .dataTables_wrapper{
        label{
            display: flex;
            line-height: 28px;
            margin: auto;
        }
        input[type="search"],input[type="text"]{
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }
    }
}

@media all and (min-width: 768px){
    #breadcrumb{
        min-height: 48px;
    }
    .table-responsive{
        overflow: visible;
    }
}

