@import 'style';
@import 'mixins';
@import 'reset';


@media all {

    #users, #area-items{
        height: auto !important;
    }

    .tag-sel-ctn{
        height: auto;
        padding: 3px;
        overflow-y: hidden;
    }
    .dropdown-notification{
        a{
            min-height: 25px;
            line-height: 25px;
        }
        .fa{
            min-width: 20px;
        }
    }
}

@media all and (min-width: 768px){

    .card-notification{
        .card-header{
                line-height: 2.5rem;
        }

        .card-body{
            h4{
                color: #000;
                font-size: 22px;
                margin: 12px 0 18px 0;
            }
        }
    }



    h5{
        font-weight: bold;
        color: #000;
        margin-bottom: 6px;
    }

}