@import 'style';
@import 'mixins';
@import 'reset';


@media all {
}

@media all and (min-width: 768px){

    .box-question{
        .card-link{
            width: 92%;
            height: 22px;
            display: inline-flex;
        }
        label{
            font-weight: bold;
            color: #000;
            margin-bottom: 6px;
        }
    }

    #list{
        .card{
            .card-header{
                .card-title{
                    line-height: 2rem;
                }
            }
        }
    }
}