@import 'style';
@import 'mixins';
@import 'reset';


@media all {
    .card-question{
        .box-message{
            p{
                margin: 6px 0;
            }
        }
    }
}

@media all and (min-width: 768px){

    #list{
        margin-top: 24px;
    }
    .btn-search{
        margin-left: 16px;
    }
    .card-question{
        .card-header{
            line-height: 2.5rem;
        }

        .box-message{
            margin-top: 36px; 
            margin-bottom: 36px; 

            p{
                margin: 6px 0;
            }
        }

        .btn-restore{
            margin-right: 6px;
        }

        h5{
            font-weight: bold;
            color: #000;
            margin-bottom: 6px;
        }

        hr{
            margin: 36px 0;
        }
    }
}